<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/sidebar.css">
  <link rel="stylesheet" href="/styles/header.css">

  <link rel="stylesheet" href="/styles/form.css">

  <script defer src="/scripts/sidebar.js"></script>

  <title>
    <%= locals.title %>
  </title>
</head>

<body>
  <%- include("partials/sidebar.ejs", { selection: locals.selection }) %>

    <main>
      <%- include("partials/header.ejs") %>

      <div class="path">
        <% locals.path.forEach(item => { %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m6 17 5-5-5-5" />
            <path d="m13 17 5-5-5-5" />
          </svg>
          <p>
            <%= item %>
          </p>
        <% }); %>
      </div>

      <section>
        <form action="<%= locals.actionRoute %>" method="POST">
          <% if (locals.selection === "new-book") { %>
            <%- include("partials/book-form.ejs", { authors: locals.authors, genres: locals.genres, selection: locals.selection }) %>
          <% } %>

          <% if (locals.selection === "new-author" ) { %>
            <%- include("partials/author-form.ejs") %>
          <% } %>

          <% if (locals.selection === "new-genre") { %>
            <%- include("partials/genre-form.ejs") %>
          <% } %>

          <% if (locals.selection === "edit-book") { %>
            <%- include("partials/book-form.ejs", { authors: locals.authors, genres: locals.genres, existing: locals.existing, selection: locals.selection }) %>
          <% } %>

          <% if (locals.selection === "edit-author") { %>
            <%- include("partials/author-form.ejs", { existing: locals.existing, selection: locals.selection }) %>
          <% } %>

          <% if (locals.selection === "edit-genre") { %>
            <%- include("partials/genre-form.ejs", { existing: locals.existing, selection: locals.selection }) %>
          <% } %>
        </form>
      </section>
    </main>
</body>

</html>
